<div class="container">
<h1>{{titulo}}</h1>

<button class="btn btn-info" type="button" [routerLink]="['/clientes/form']">Nuevo Cliente</button>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">C. I.</th>
        <th scope="col">Celular</th>
        <th scope="col">Direccion</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.codigo}}</th>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.ci}}</td>
        <td>{{cliente.celular}}</td>
        <td>{{cliente.direccion}}</td>
        <td> <button type="button" name="buttonEdit" class="btn btn-primary" [routerLink]="['/clientes/form', cliente.codigo]">Editar</button> </td>
        <td> <button class="btn btn-danger" (click)="Eliminar(cliente)"> Borrar</button> </td>
      </tr>

    </tbody>
  </table>
</div>